<!DOCTYPE html>
<html>
  <script>
  window.button_logo = "<%= image_url('runmymap_logo.png') %>"
  </script>
  <head>
    <title>RunMyMap</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>